In [2]:
import yfinance as yf

In [4]:
ticker=yf.Ticker('AAPL')

In [6]:
hist = ticker.history(period="1y", interval="1d")
hist

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
2024-04-24 00:00:00-04:00,165.757322,168.504360,165.428886,168.225677,48251800,0.0,0.0
2024-04-25 00:00:00-04:00,168.733259,169.808185,167.359740,169.091568,50558300,0.0,0.0
2024-04-26 00:00:00-04:00,169.081625,170.534755,168.384902,168.504349,44838400,0.0,0.0
2024-04-29 00:00:00-04:00,172.555222,175.202725,172.286502,172.684616,68169400,0.0,0.0
2024-04-30 00:00:00-04:00,172.515427,174.167629,169.201075,169.529526,65934800,0.0,0.0
...,...,...,...,...,...,...,...
2025-04-16 00:00:00-04:00,198.360001,200.699997,192.369995,194.270004,59732400,0.0,0.0
2025-04-17 00:00:00-04:00,197.199997,198.830002,194.419998,196.979996,51334300,0.0,0.0
2025-04-21 00:00:00-04:00,193.270004,193.800003,189.809998,193.160004,46742500,0.0,0.0
2025-04-22 00:00:00-04:00,196.119995,201.589996,195.970001,199.740005,52976400,0.0,0.0
2025-04-23 00:00:00-04:00,206.000000,208.000000,202.800003,204.600006,52863100,0.0,0.0

In [8]:
dividends = ticker.dividends
dividends

Date
1987-05-11 00:00:00-04:00    0.000536
1987-08-10 00:00:00-04:00    0.000536
1987-11-17 00:00:00-05:00    0.000714
1988-02-12 00:00:00-05:00    0.000714
1988-05-16 00:00:00-04:00    0.000714
                               ...
2024-02-09 00:00:00-05:00    0.240000
2024-05-10 00:00:00-04:00    0.250000
2024-08-12 00:00:00-04:00    0.250000
2024-11-08 00:00:00-05:00    0.250000
2025-02-10 00:00:00-05:00    0.250000
Name: Dividends, Length: 86, dtype: float64

In [10]:
major_holders = ticker.major_holders
institutional_holders = ticker.institutional_holders

In [11]:
major_holders

Breakdown                          Value
insidersPercentHeld              0.02073
institutionsPercentHeld          0.62976
institutionsFloatPercentHeld     0.64309
institutionsCount             6967.00000

In [12]:
institutional_holders

,Date Reported,Holder,pctHeld,Shares,Value,pctChange
0,2024-12-31,Vanguard Group Inc,0.0929,1395785512,285577724274,0.0365
1,2024-12-31,Blackrock Inc.,0.0748,1123417607,229851249248,0.0272
2,2024-12-31,State Street Corporation,0.0396,595501507,121839611966,0.0197
3,2024-12-31,"FMR, LLC",0.0227,341640974,69899745365,-0.0611
4,2024-12-31,"Geode Capital Management, LLC",0.0226,340164913,69597743276,0.0189
5,2024-12-31,"Berkshire Hathaway, Inc",0.0200,300000000,61380001831,0.0000
6,2024-12-31,Morgan Stanley,0.0159,238264141,48748844702,0.0294
7,2024-12-31,Price (T.Rowe) Associates Inc,0.0147,220107535,45034003004,-0.0657
8,2024-12-31,NORGES BANK,0.0125,187160162,38292970287,0.0542
9,2024-12-31,JPMORGAN CHASE & CO,0.0122,183008151,37443468811,0.0206

In [13]:
recommendations = ticker.recommendations
recommendations

  period  strongBuy  buy  hold  sell  strongSell
0     0m          7   23    16     1           1
1    -1m          7   21    14     2           1
2    -2m          7   21    13     2           2
3    -3m          8   21    13     2           2

In [14]:
balance_sheet = ticker.balance_sheet
income_stmt = ticker.financials
cash_flow = ticker.cashflow

In [15]:
balance_sheet

,2024-09-30,2023-09-30,2022-09-30,2021-09-30,2020-09-30
Treasury Shares Number,NaN,0.0,NaN,NaN,NaN
Ordinary Shares Number,15116786000.0,15550061000.0,15943425000.0,16426786000.0,NaN
Share Issued,15116786000.0,15550061000.0,15943425000.0,16426786000.0,NaN
Net Debt,76686000000.0,81123000000.0,96423000000.0,89779000000.0,NaN
Total Debt,106629000000.0,111088000000.0,132480000000.0,136522000000.0,NaN
...,...,...,...,...,...
Cash Cash Equivalents And Short Term Investments,65171000000.0,61555000000.0,48304000000.0,62639000000.0,NaN
Other Short Term Investments,35228000000.0,31590000000.0,24658000000.0,27699000000.0,NaN
Cash And Cash Equivalents,29943000000.0,29965000000.0,23646000000.0,34940000000.0,NaN
Cash Equivalents,2744000000.0,1606000000.0,5100000000.0,17635000000.0,NaN
Cash Financial,27199000000.0,28359000000.0,18546000000.0,17305000000.0,NaN

In [17]:
income_stmt

,2024-09-30,2023-09-30,2022-09-30,2021-09-30,2020-09-30
Tax Effect Of Unusual Items,0.0,0.0,0.0,0.0,NaN
Tax Rate For Calcs,0.241,0.147,0.162,0.133,NaN
Normalized EBITDA,134661000000.0,125820000000.0,130541000000.0,123136000000.0,NaN
Net Income From Continuing Operation Net Minority Interest,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN
Reconciled Depreciation,11445000000.0,11519000000.0,11104000000.0,11284000000.0,NaN
Reconciled Cost Of Revenue,210352000000.0,214137000000.0,223546000000.0,212981000000.0,NaN
EBITDA,134661000000.0,125820000000.0,130541000000.0,123136000000.0,NaN
EBIT,123216000000.0,114301000000.0,119437000000.0,111852000000.0,NaN
Net Interest Income,NaN,-183000000.0,-106000000.0,198000000.0,890000000.0
Interest Expense,NaN,3933000000.0,2931000000.0,2645000000.0,2873000000.0
Interest Income,NaN,3750000000.0,2825000000.0,2843000000.0,3763000000.0
Normalized Income,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN
Net Income From Continuing And Discontinued Operation,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN
Total Expenses,267819000000.0,268984000000.0,274891000000.0,256868000000.0,NaN
Total Operating Income As Reported,123216000000.0,114301000000.0,119437000000.0,108949000000.0,NaN
Diluted Average Shares,15408095000.0,15812547000.0,16325819000.0,16864919000.0,NaN
Basic Average Shares,15343783000.0,15744231000.0,16215963000.0,16701272000.0,NaN
Diluted EPS,6.08,6.13,6.11,5.61,NaN
Basic EPS,6.11,6.16,6.15,5.67,NaN
Diluted NI Availto Com Stockholders,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN
Net Income Common Stockholders,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN
Net Income,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN
Net Income Including Noncontrolling Interests,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN
Net Income Continuous Operations,93736000000.0,96995000000.0,99803000000.0,94680000000.0,NaN
Tax Provision,29749000000.0,16741000000.0,19300000000.0,14527000000.0,NaN
Pretax Income,123485000000.0,113736000000.0,119103000000.0,109207000000.0,NaN
Other Income Expense,269000000.0,-565000000.0,-334000000.0,60000000.0,NaN
Other Non Operating Income Expenses,269000000.0,-565000000.0,-334000000.0,60000000.0,NaN
Net Non Operating Interest Income Expense,NaN,-183000000.0,-106000000.0,198000000.0,890000000.0
Interest Expense Non Operating,NaN,3933000000.0,2931000000.0,2645000000.0,2873000000.0
Interest Income Non Operating,NaN,3750000000.0,2825000000.0,2843000000.0,3763000000.0
Operating Income,123216000000.0,114301000000.0,119437000000.0,108949000000.0,NaN
Operating Expense,57467000000.0,54847000000.0,51345000000.0,43887000000.0,NaN
Research And Development,31370000000.0,29915000000.0,26251000000.0,21914000000.0,NaN
Selling General And Administration,26097000000.0,24932000000.0,25094000000.0,21973000000.0,NaN
Gross Profit,180683000000.0,169148000000.0,170782000000.0,152836000000.0,NaN
Cost Of Revenue,210352000000.0,214137000000.0,223546000000.0,212981000000.0,NaN
Total Revenue,391035000000.0,383285000000.0,394328000000.0,365817000000.0,NaN
Operating Revenue,391035000000.0,383285000000.0,394328000000.0,365817000000.0,NaN